<form [formGroup]="form" class="form">
  <ng-container [ngSwitch]="target$ | async">
    <div *ngSwitchCase="'date'">
      <mat-form-field>
        <mat-label>請求書ID</mat-label>
        <input
          matInput
          type="text"
          autocomplete="nope"
          formControlName="id"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>作成日</mat-label>
        <input
          matInput
          formControlName="date"
          autocomplete="nope"
          [matDatepicker]="myDatepicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="myDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'client'">
      <div formGroupName="client">
        <mat-form-field>
          <mat-label>クライアント名</mat-label>
          <input
            matInput
            type="text"
            autocomplete="nope"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>郵便番号</mat-label>
          <input
            matInput
            type="text"
            placeholder="222-2222"
            autocomplete="nope"
            formControlName="zipCode"
          />
          <span matPrefix>〒&nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>住所</mat-label>
          <input
            matInput
            type="text"
            placeholder="東京都新宿区新宿1-1-1"
            autocomplete="nope"
            formControlName="streetName"
          />
        </mat-form-field>
      </div>
    </div>
    <div *ngSwitchCase="'transfer'">
      <mat-form-field>
        <mat-label>振込期日</mat-label>
        <input
          matInput
          type="text"
          autocomplete="nope"
          formControlName="limit"
          [matDatepicker]="limitDp"
        />
        <mat-hint>翌月末が一般的です</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="limitdp"
        ></mat-datepicker-toggle>
        <mat-datepicker #limitdp></mat-datepicker>
      </mat-form-field>
      <div formGroupName="transferAccount">
        <mat-form-field>
          <mat-label>銀行</mat-label>
          <input
            matInput
            name="bank"
            type="text"
            placeholder="デモ銀行"
            autocomplete="nope"
            formControlName="bank"
          />
          <span matSuffix>銀行</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>支店名</mat-label>
          <input
            matInput
            name="branch"
            type="text"
            placeholder="デモ"
            autocomplete="nope"
            formControlName="branch"
          />
          <span matSuffix>支店</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>名義</mat-label>
          <input
            matInput
            type="text"
            placeholder="株式会社デモ"
            autocomplete="organization"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>口座番号</mat-label>
          <input
            matInput
            type="text"
            name="bank-number"
            placeholder="1111111"
            autocomplete="nope"
            formControlName="number"
          />
        </mat-form-field>
      </div>
    </div>
    <div *ngSwitchCase="'menu'">
      <div class="menu-add">
        <button mat-icon-button (click)="addMenu()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div formArrayName="menues">
        <div
          class="menu-group"
          [formGroupName]="i"
          *ngFor="let menu of menues.controls; let i = index"
        >
          <div class="menu-group__body">
            <mat-form-field>
              <mat-label>項目名</mat-label>
              <input
                type="text"
                matInput
                placeholder="ディレクション"
                formControlName="title"
                name="menu-title"
                autocomplete="nope"
                required
              />
            </mat-form-field>
            <mat-form-field class="short">
              <mat-label>数量</mat-label>
              <input
                type="number"
                matInput
                formControlName="count"
                name="menu-count"
                autocomplete="nope"
                required
              />
            </mat-form-field>
            <mat-form-field class="short">
              <mat-label>単位</mat-label>
              <input
                type="text"
                matInput
                formControlName="unit"
                placeholder="人日"
                name="menu-unit"
                autocomplete="nope"
                required
              />
            </mat-form-field>
            <mat-form-field class="short">
              <mat-label>単価</mat-label>
              <input
                type="number"
                matInput
                formControlName="unitCost"
                name="menu-unit-cost"
                step="100"
                autocomplete="nope"
                required
              />
            </mat-form-field>
          </div>
          <div class="menu-group__action" *ngIf="menues.length > 1">
            <button mat-icon-button (click)="removeMenu(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'company'">
      <div formGroupName="company">
        <mat-form-field>
          <mat-label>会社名/事業名</mat-label>
          <input
            matInput
            type="text"
            placeholder="株式会社デモ"
            autocomplete="organization"
            formControlName="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>郵便番号</mat-label>
          <input
            matInput
            type="text"
            placeholder="222-2222"
            autocomplete="postal-code"
            formControlName="zipCode"
            required
          />
          <span matPrefix>〒&nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>住所</mat-label>
          <input
            matInput
            type="text"
            placeholder="東京都新宿区新宿1-1-1"
            autocomplete="street-address"
            formControlName="streetName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>電話番号</mat-label>
          <input
            matInput
            type="text"
            placeholder="新宿ダミービル3F"
            autocomplete="tel"
            formControlName="tel"
            required
          />
        </mat-form-field>
        <div class="button-group">
            <input type="file" (change)="onChangeImage(logoInput.files[0], 'logo')" accept=".png, .jpg" #logoInput hidden>
          <button type="button" mat-button (click)="logoInput.click()">ロゴを登録</button>
          <button type="button" mat-button [disabled]="!logoInput.value" (click)="removeImage('logo'); logoInput.value = null">ロゴを削除</button>
        </div>
        <div class="button-group">
            <input type="file"(change)="onChangeImage(sealInput.files[0], 'seal')" #sealInput hidden accept=".png, .jpg">
            <button type="button" mat-button (click)="sealInput.click()">印鑑を登録</button>
            <button type="button" mat-button [disabled]="!sealInput.value" (click)="removeImage('seal'); sealInput.value = null">印鑑を削除</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'note'">
      <mat-form-field>
        <mat-label>備考</mat-label>
        <textarea matInput formControlName="note" rows="10"></textarea>
        <mat-hint>具体的な案件名を含めましょう</mat-hint>
      </mat-form-field>
    </div>
    <p *ngSwitchDefault>
      編集要素を選択してください。
    </p>
  </ng-container>
</form>
