<mat-card>
  <h1>請求書</h1>
  <div class="header">
    <div class="header__left">
      <div class="editable" (click)="setTarget('client')" [class.invalidGroup]="!data?.client?.name">
        <h2 class="client">{{ data?.client?.name }}御中</h2>
        <p class="client-detail" *ngIf="data?.client?.zipCode && data?.client?.streetName">
          <span class="zipcode">{{ data?.client?.zipCode }}</span>
          <span>{{ data?.client?.streetName }}</span>
        </p>
      </div>
      <p>下記の通りご請求申し上げます。</p>
      <table class="summary-table">
        <colgroup>
          <col style="width: 33.33333%">
          <col style="width: 33.33333%">
          <col style="width: 33.33333%">
        </colgroup>
        <thead>
          <tr>
            <th>小計</th>
            <th>消費税</th>
            <th class="total-cost">合計金額</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ totalCost | number:'1.0-0' }}円</td>
            <td>{{ totalTax | number:'1.0-0' }}円</td>
            <td class="total-cost">
              {{ totalCost + totalTax | number:'1.0-0' }}円
            </td>
          </tr>
        </tbody>
      </table>
      <table class="tax-table" *ngIf="totalsByTaxRate.length > 1">
        <tbody>
          <tr *ngFor="let i of totalsByTaxRate">
            <th>{{ i.taxRate > 0 ? i.taxRate + '%対象' : '対象外' }}</th>
            <td>{{ i.totalCost | number:'1.0-0' }}円</td>
            <th>消費税</th>
            <td>{{ i.tax | number:'1.0-0' }}円</td>
          </tr>
        </tbody>
      </table>
      <table class="transfer-table editable" (click)="setTarget('transfer')"
      [class.invalidGroup]="!data?.limit || !data?.transferAccount?.bank || !data?.transferAccount?.name || !data?.transferAccount?.number">
        <colgroup>
          <col style="width: 33.33333%">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th>振込期日</th>
            <td>{{ data?.limit | date: 'yyyy年MM月dd日' }}</td>
          </tr>
          <tr>
            <th>振込先</th>
            <td>
              <span *ngIf="data?.transferAccount?.branch && data?.transferAccount?.bank">{{ data?.transferAccount?.bank }}銀行 {{ data?.transferAccount?.branch }}支店</span>
              <span>{{ data?.transferAccount?.name }}</span>
              <span>{{ data?.transferAccount?.number }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="header__right">
      <dl class="invoice-detail editable" (click)="setTarget('date')" [class.invalidGroup]="!data?.date || !data?.id">
        <dt>日付</dt>
        <dd>{{ data?.date | date: 'yyyy年MM月dd日' }}</dd>
        <dt>請求書番号</dt>
        <dd>{{ data?.id }}</dd>
      </dl>
      <p
        class="company-detail editable" (click)="setTarget('company')"
        [style.background-image]="data?.company?.seal"
        [class.invalidGroup]="!data?.company?.name || !data?.company?.zipCode || !data?.company?.streetName || !data?.company?.tel"
      >
        <span class="company-detail__name">{{ data?.company?.name }}</span>
        <span class="zipcode">{{ data?.company?.zipCode }}</span>
        <span>{{ data?.company?.streetName }}</span>
        <span>TEL: {{ data?.company?.tel }}</span>
      </p>
      <img
        class="company-logo"
        *ngIf="data?.company?.logo"
        [src]="data?.company?.logo"
        alt="ロゴ"
      />
    </div>
  </div>
  <div class="body">
    <table class="menues editable" (click)="setTarget('menu')" [class.invalidGroup]="!data?.menues?.length || !data?.menues[0].title">
      <colgroup>
        <col>
        <col style="width: 100px">
        <col style="width: 150px">
        <col style="width: 200px">
      </colgroup>
      <thead>
        <tr>
          <th>詳細</th>
          <th>数量</th>
          <th>単価</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!data?.menues?.length">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr *ngFor="let menu of data?.menues">
          <td>{{ menu.title || '&nbsp;' }}</td>
          <td><span *ngIf="menu.count">{{ (menu.count | number:'1.0-2')}}{{menu.unit}}</span></td>
          <td><span *ngIf="menu.unitCost">{{ menu.unitCost | number:'1.0-0' }}</span></td>
          <td><span *ngIf="menu.count && menu.unitCost">{{ menu.count * menu.unitCost | number:'1.0-0' }}</span></td>
        </tr>
      </tbody>
    </table>
    <div class="note editable" (click)="setTarget('note')">
      <h3 class="note__title">備考</h3>
      <div class="note__text">
        <p *ngFor="let note of data?.note?.split('\n')">{{ note }}</p>
      </div>
    </div>
  </div>
</mat-card>
