@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  margin: 0;
  background: #fafafa;
  font-family: 'Noto Sans JP', sans-serif;
}

@media print {
  .noprint {
    display: none;
  }
}
